<h1>スケジュール一覧</h1>

<% @schedules.group_by(&:movie).each do |movie, schedules| %>
  <h2><%= movie.name %></h2>
  <ul>
    <% schedules.each do |schedule| %>
      <li><%= link_to "#{schedule.start_time.strftime('%Y-%m-%d %H:%M')} - #{schedule.end_time.strftime('%Y-%m-%d %H:%M')}", admin_schedule_path(schedule) %></li>
    <% end %>
  </ul>
<% end %>
