<h1>スケジュール一覧</h1>

<% @schedules.group_by(&:movie).each do |movie, schedules| %>
  <h2><%= movie.name %></h2>
  <ul>
    <% schedules.each do |schedule| %>
      <li><%= link_to "#{schedule.start_time.strftime('%H:%M')} - #{schedule.end_time.strftime('%H:%M')}", admin_schedule_path(schedule) %></li>
    <% end %>
    <p><%= link_to "スケジュールを追加", new_admin_movie_schedule_path(movie) %></p>
  </ul>
<% end %>

<%= link_to '映画管理', admin_movies_path %>
